#modViatura {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
 
#modViatura_titulo {
    height: 40px;
    flex: 1 1 100%;
    text-align: center;
}

#modViatura_responsivo {
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    flex: 1 1 100%;
    background-color: inherit;
    align-items: start;
    
}

.modViatura_boxViatura {
    border: solid white 1px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

    .modViatura_boxViatura h5 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        text-align: center;
    }
    
    .modViatura_boxViatura .col-6{
        padding: 0 5px 10px 5px;
       
    }

    .modViatura_boxViatura span{
        width: 25%;
    }

    .modViatura_boxViatura input{
        text-align: center;
    }

#modViatura_boxBtn {
    padding: 5px;
    height: 60px;
    flex: 1 1 100%;
    background-color: inherit;
}

    #modViatura_boxBtn button {
        height: 100%;
        width: 100%;
        flex: 1 1 100%;
    }