PORTA=2015
API_KEY=altere-esta-chave-no-servidor
PROXY_TARGET=http://127.0.0.1:2005/
PROXY_TARGET_CONFVISION=http://127.0.0.1:8086/
APACHE_SITES_DIR=/etc/apache2/sites-available
CERTBOT_EMAIL=suporte@kitsite.com.br
