{{ define "link-js"}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--script src="/recursos/js/bibliotecas/bootstrap.bundle.min.js"></script>
<script src="/recursos/js/bibliotecas/jquery-3.6.0.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script defer src="/recursos/js/auxiliares/carregarLogin.js"></script>
<script src="/recursos/js/auxiliares/manipulaDatas.js"></script>
<script src="/recursos/js/auxiliares/auxiliares.js"></script>
<script src="/recursos/js/auxiliares/class.js"></script>
<script src="/recursos/js/auxiliares/mascaras.js"></script>
<script src="/recursos/js/auxiliares/formatacao.js"></script>
<script src="/recursos/js/auxiliares/box-mensagem-padrao.js"></script>
<script src="/recursos/js/auxiliares/theme.js"></script>
<script src="/recursos/js/auxiliares/permissoes-menu.js"></script>
<script src="/recursos/js/auxiliares/fp-planos-dados.js"></script>
<script src="/recursos/js/auxiliares/licenca-menu.js"></script>
<script src="/recursos/js/auxiliares/fp-scroll-paginacao.js"></script>
<script src="/recursos/js/auxiliares/nav.js"></script>


{{end}}