{{ define "modalEmail"}}

<div class="modal fade" id="modal-email" tabindex="-1" aria-labelledby="modal-email-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-email-label">TROCA DO EMAIL</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>            
            <div class="mb-3">
              <label for="novoEmail" class="col-form-label">Digite os novo email:</label>
              <input type="text" class="form-control" id="novoEmail">
            </div>            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="btnModalEnviar">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  {{ end }}