{{ define "sub-menu" }}
<div class="container">
    <div class="row">
        <div class="col-6 col-lg-3 px-0">
            <a href="/carregar-menu-minha-empresa">
                <img src="/recursos/img/botao-menu/subminhaempresa.png"
                    alt="Minha Empresa"
                    class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-lg-3 px-0">
            <a href="/carregar-menu-atendimento">
                <img src="/recursos/img/botao-menu/subatendimento.png"
                    alt="Minha Empresa"
                    class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-lg-3 px-0">
            <a href="/carregar-menu-relatorio">
                <img src="/recursos/img/botao-menu/subrelatorios.png"
                    alt="Minha Empresa"
                    class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-lg-3 px-0">
            <a href="/carregar-menu-configuracoes">
                <img src="/recursos/img/botao-menu/subconfiguracoes.png"
                    alt="Minha Empresa"
                    class="img-fluid">
            </a>
        </div>
    </div>
</div>
{{end}}