{{ define "btnLimparGravar"}}
<div class="w-full flex flex-col md:flex-row gap-2">

    <button id="btnLimpar" class="py-2 w-full rounded-md text-white font-black text-xl bg-red-700">
        <i class="bi bi-eraser-fill"></i> &nbsp;
        Limpar
    </button>

    <button id="btnGravar" class="py-2 w-full rounded-md text-white font-black text-xl bg-green-700">
        <i class="bi bi-floppy-fill"></i> &nbsp;
        Gravar
    </button>
</div>
{{ end }}

{{ define "btnLimparGravarFechar"}}
<div class="w-full flex flex-col md:flex-row gap-2">

    <button id="btnLimpar" class="py-2 w-full rounded-md text-white font-black text-xl bg-red-700">
        <i class="bi bi-eraser-fill"></i> &nbsp;
        Limpar
    </button>

    <button id="btnGravar" class="py-2 w-full rounded-md text-white font-black text-xl bg-green-700">
        <i class="bi bi-floppy-fill"></i> &nbsp;
        Gravar
    </button>

    <button id="btnGravar" class="py-2 w-full rounded-md text-white font-black text-xl bg-blue-700">
        Fechar
    </button>
</div>
{{ end }}

{{ define "btnGravar" }}
<button id="" class="py-2 w-full rounded-md text-white font-black text-xl bg-green-700">
    <i class="bi bi-floppy-fill"></i> &nbsp;
    Gravar
</button>
{{ end }}