{{ define "pagina" }}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/global.css">

    <!-- Icones Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- /Icones Bootstrap -->

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <!-- /Jquery -->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Calendario -->
    <!-- /Calendario -->
    <script src="/public/js/msg.js"></script>
    <script src="/public/js/global.js"></script>

    <title>{{ .Titulo }}</title>
</head>

<body class="h-screen">

    {{ block "body" . }}{{end}}
</body>

</html>

{{ end }}