{{ define "modalArmarAlarme"}}

<div class="modal fade" id="modal-armar-alarme" tabindex="-1" aria-labelledby="modal-armar-alarme-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-email-label">ARMAR DISPOSITIVO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table id="tab-dispositivo-armar" class="table table-sm table-bordered table-striped">
            <thead class="table-dark">
                <th style="width: 6%;">Conta</th>
                <th style="width: 6%;">Part.</th>
                <th style="width: 90%;">Dispositivo</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <!-- preenchido via JS -->
            </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button> 
        </div>
      </div>
    </div>
  </div>

  {{ end }}