{{ define "btnLimparGravar"}}
<div class="w-full flex flex-col md:flex-row gap-2">

    <button id="btnLimpar" type="button" class="tech-btn-danger py-2 w-full text-xl">
        <i class="bi bi-eraser-fill"></i> &nbsp;
        Limpar
    </button>

    <button id="btnGravar" type="button" class="tech-btn-success py-2 w-full text-xl">
        <i class="bi bi-floppy-fill"></i> &nbsp;
        Gravar
    </button>
</div>
{{ end }}

{{ define "btnLimparGravarFechar"}}
<div class="w-full flex flex-col md:flex-row gap-2">

    <button id="btnLimpar" type="button" class="tech-btn-danger py-2 w-full text-xl">
        <i class="bi bi-eraser-fill"></i> &nbsp;
        Limpar
    </button>

    <button id="btnGravar" type="button" class="tech-btn-success py-2 w-full text-xl">
        <i class="bi bi-floppy-fill"></i> &nbsp;
        Gravar
    </button>

    <button id="btnFechar" type="button" class="tech-btn-info py-2 w-full text-xl">
        Fechar
    </button>
</div>
{{ end }}

{{ define "btnGravar" }}
<button type="button" class="tech-btn-success py-2 w-full text-xl">
    <i class="bi bi-floppy-fill"></i> &nbsp;
    Gravar
</button>
{{ end }}
