#modTecnico {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}

#modTecnico_titulo {
    height: 40px;
    flex: 1 1 100%;
    text-align: center;
}

#modTecnico_responsivo {
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    flex: 1 1 100%;
    background-color: inherit;
    align-items: start;
    
}


#modTecnico_boxBtn {
    padding: 5px;
    height: 60px;
    flex: 1 1 100%;
    background-color: inherit;
}

    #modTecnico_boxBtn button {
        height: 100%;
        width: 100%;
        flex: 1 1 100%;
    }