<!doctype html>
<html lang="pt-br">
    <head>
        {{ template "head" . }}
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-3"></div>
                
                <div class="col-6 pe-4 ps-4">
                    <br><br><br><br><br>
                    <img class="img-fluid w-100" src="/recursos/img/emManutencao.png" alt="">
                </div>
                <div class="col-3"></div>


            </div> <!-- row -->
        </div><!-- container -->

        {{ template "link-js" . }}
        <script src="/recursos/modulos/emManutencao/emManutencao.js"></script>
    </body>
</html>
